numpydoc
sphinx >=4.0.0
sphinx_rtd_theme
sphinx-copybutton
sphinx-fortran
sphinx-multitoc-numbering
sphinx-toolbox
sphinxcontrib-googleanalytics
sphinxcontrib.bibtex
git+https://github.com/LLNL/sundials.git@feature/python-nanobind
