name: sundials4py wheels

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - develop
  pull_request:
  merge_group:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v5
      with:
        name: dist-sdist
        path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel, windows-latest]

    steps:
    - name: Set macOS deployment target
      if: contains(matrix.os, 'macos')
      run: echo "MACOSX_DEPLOYMENT_TARGET=$(sw_vers -productVersion | cut -d '.' -f 1-2)" >> $GITHUB_ENV

    - uses: actions/checkout@v5
      with:
        submodules: true

    - uses: pypa/cibuildwheel@v2.22
      env:
        CIBW_TEST_COMMAND: "pytest {project}/bindings/sundials4py/test"

    - name: Upload wheels
      uses: actions/upload-artifact@v5
      with:
        path: wheelhouse/*.whl
        name: dist-${{ matrix.os }}

  build_wheels_extra:
    name: Build extra wheels on ${{ matrix.os }} (${{ matrix.precision }}/${{ matrix.index }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        precision: [single, double]
        index: [32, 64]

    steps:
    - name: Set macOS deployment target
      if: contains(matrix.os, 'macos')
      run: echo "MACOSX_DEPLOYMENT_TARGET=$(sw_vers -productVersion | cut -d '.' -f 1-2)" >> $GITHUB_ENV

    - uses: actions/checkout@v5
      with:
        submodules: true

    - uses: pypa/cibuildwheel@v2.22
      env:
        CMAKE_ARGS: "-DSUNDIALS_PRECISION=${{ matrix.precision }} -DSUNDIALS_INDEX_SIZE=${{ matrix.index }}"
        CIBW_TEST_COMMAND: "pytest {project}/bindings/sundials4py/test"

    - name: Rename wheels to include config
      run: |
        for whl in wheelhouse/*.whl; do
          mv "$whl" "$(echo $whl | sed 's/\.whl$/-${{ matrix.precision }}-${{ matrix.index }}.whl/')"
        done
        ls -al wheelhouse/
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v5
      with:
        path: wheelhouse/*.whl
        name: dist-${{ matrix.os }}

  upload:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
    - uses: actions/setup-python@v5
    - uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: dist-*
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
